<a href="https://colab.research.google.com/github/priyadash531/DMDW_LAB_PROGRAM/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1)
A) Create a Dataframe (size= 3x4) with random integers with explicit indexing.
B) Perform sin(df * pi / 4) operation over the dataframe¶
C) Subtract first value of the dataframe from each elements of the dataframe.
D) Subtract first row of the dataframe from each rows of the dataframe.**bold text**

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  35  46  32  62
1  59  46  66  96
2  15  79  22  38

In [2]:
np.sin(df * np.pi / 4)

          A         B             C             D
0  0.707107 -1.000000 -9.797174e-16 -1.000000e+00
1  0.707107 -1.000000  1.000000e+00 -2.939152e-15
2 -0.707107 -0.707107 -1.000000e+00 -1.000000e+00

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_value=df.iloc[0][0]
print(df.subtract(first_value, axis = 1))

    A   B   C   D
0   0 -51  22 -37
1 -26  45  16  14
2 -14 -26  -1 -45

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_row=df.iloc[0]
print(df.subtract(first_row, axis = 1))

    A   B   C   D
0   0   0   0   0
1  20  -2 -75   9
2  55 -26 -27 -18

2) Write python program:
A) Read a CSV file using pandas data frame.
B) Display the first 8 rows of the data.
C) Display the last 7 rows of the data.
D) Get and display the data types used in this data. Get and display the unique values available under a particular attribute.**bold text**

In [5]:
df = pd.read_csv ('cars.csv')

result = df.head(8)
print(result)

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5            Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6         Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7          Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2

[8 rows x 12 columns]

In [6]:

print(df.tail(7))

        Unnamed: 0   mpg  cyl   disp   hp  ...  qsec  vs  am  gear  carb
25       Fiat X1-9  27.3    4   79.0   66  ...  18.9   1   1     4     1
26   Porsche 914-2  26.0    4  120.3   91  ...  16.7   0   1     5     2
27    Lotus Europa  30.4    4   95.1  113  ...  16.9   1   1     5     2
28  Ford Pantera L  15.8    8  351.0  264  ...  14.5   0   1     5     4
29    Ferrari Dino  19.7    6  145.0  175  ...  15.5   0   1     5     6
30   Maserati Bora  15.0    8  301.0  335  ...  14.6   0   1     5     8
31      Volvo 142E  21.4    4  121.0  109  ...  18.6   1   1     4     2

[7 rows x 12 columns]

In [7]:
print(df.dtypes)

Unnamed: 0     object
mpg           float64
cyl             int64
disp          float64
hp              int64
drat          float64
wt            float64
qsec          float64
vs              int64
am              int64
gear            int64
carb            int64
dtype: object

In [8]:
gapminder_csv_url ='http://bit.ly/2cLzoxH'
record = pd.read_csv(gapminder_csv_url)  
print(record['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

3) Write a python program:
A) Read a dataset (Ex, iris.csv) using pandas data frame.
B) Rename a column.
C) Filter the data using some condition (Ex. sepal length >7.2).
D) Find the mean and standard deviation value for each attribute.

In [9]:
df2 = pd.read_csv("iris.csv")
print(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [10]:
print(df2.rename(columns={'sepal.width': 'SEPAL WIDTH'}))

     sepal.length  SEPAL WIDTH  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [11]:
df2[df2['sepal.length'] > 7.2]

     sepal.length  sepal.width  petal.length  petal.width    variety
105           7.6          3.0           6.6          2.1  Virginica
107           7.3          2.9           6.3          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica

In [12]:
df2.std(axis = 1, skipna = True)

0      2.179449
1      2.036950
2      1.997498
3      1.912241
4      2.156386
         ...
145    2.021551
146    2.075853
147    2.046745
148    1.791415
149    1.884144
Length: 150, dtype: float64

In [13]:

df2.mean(axis = 0)

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

4) Write a python program:
A) Read a dataset (Ex, iris.csv) data using pandas data frame.
B) Next, check if there exist any duplicate values.
C) If exist any duplicate values then remove the duplicate values.**bold text**

In [14]:
df2 = pd.read_csv("iris.csv")
print(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [15]:
duplicate = df2[df2.duplicated()]
print(duplicate)

     sepal.length  sepal.width  petal.length  petal.width    variety
142           5.8          2.7           5.1          1.9  Virginica

In [16]:
df2.drop_duplicates(keep=False,inplace=True)
df2

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[148 rows x 5 columns]

5) Show using a program how to group data in python using pandas.**¶**

In [19]:
df3 = pd.read_csv("nba.csv")
df3

               Player    Status Pos  ...  BPM  VORP  Unnamed: 69
0       Kawhi Leonard    Active  SF  ...  6.3  25.4          NaN
1        Kevin Durant    Active  SF  ...  5.1  47.0          NaN
2         Danny Green    Active  SG  ...  3.3  15.7          NaN
3       Shane Battier  Inactive  SF  ...  2.9  37.0          NaN
4      Gerald Wallace  Inactive  SF  ...  2.4  27.3          NaN
..                ...       ...  ..  ...  ...   ...          ...
659  Andrew Nicholson    Active  PF  ... -5.3  -3.4          NaN
660     Adreian Payne    Active  PF  ... -5.5  -1.2          NaN
661   Anthony Bennett    Active  PF  ... -5.6  -1.7          NaN
662   Samardo Samuels  Inactive   C  ... -5.9  -1.7          NaN
663   Johnny O'Bryant    Active  PF  ... -6.7  -1.5          NaN

[664 rows x 70 columns]

In [22]:
gk = df3.groupby('Status')
gk.first()

                 Player Pos        labels  ...  BPM  VORP  Unnamed: 69
Status                                     ...
Active    Kawhi Leonard  SF  3-and-D Wing  ...  6.3  25.4    -1.490076
Inactive  Shane Battier  SF  3-and-D Wing  ...  2.9  37.0          NaN

[2 rows x 69 columns]